
button{
    background-color: #f8f9fa;
    color: red;
}
button:hover{
background-color: #c6c7c8;
}
a{
    text-decoration: none;
}
.create{
    text-align: center;
    width: 500px;
    height: 40px;
    border: 2px solid rgb(0, 166, 255);
    margin: 0 auto;
    border-radius: 20px;
    margin-top: 200px;
}